/*Add CSS styles here*/
body {
    font-family: 'Jost', sans-serif;

    background-image: linear-gradient(to right, #d9a78b, #a65e44);
}  

h1 {
    text-align: center;
    font-family: 'Jost', sans-serif;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
}



#map {
    height: 400px; 
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#chart {
    height: auto; 
    width: 80%;
    display: inline-block;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, h3, h4, text, p {
    font-family: 'Jost', sans-serif;
}

.leaflet-control-attribution {
    font-family: 'Jost', sans-serif;
}

h3 {
    padding-top: 15px;
    text-align: center;
}

h4 {
    font-size: 18px;
    color: #A65E44;
    text-align: center;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
    text-align: center;
}

#panel {
    width: 16%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 150px;
    
}

.step {
    width: 30px;
}

.step i {
    width: 100%;
    height: auto;
    vertical-align: center;
}

#forward {
    float: right;
}

#reverse {
    float: left;
}

.sequence-control-container {
    width: 260px;
    height: 50px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 220px;
    background-color: rgba(255,255,255,0.8);
    text-align: center;
    border: solid gray 1px;
    padding-top: 10px;
    font-family: 'Jost', sans-serif;
}

.legend-control-container p {
    line-height: 0.1em;
}

.year {
    font-weight: bold;
}

svg {
    display: inline-block;
}

button {
    height: 35px;
    vertical-align: top;
    padding-bottom: 5px;
    background-color: #ddd;
    display: inline-block;
    
}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;

}

.leaflet-control-layers {
    font-family: 'Jost', sans-serif;
}
